.hero-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media (min-width: 640px) {
    .hero-section {
        padding-top: 14rem;
        padding-bottom: 14rem;
    }
}

main#browse-page {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hero-title {
    font-size: 2.25rem; 
}

.hero-subtitle {
    font-size: 1.25rem;
}

.filter-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}